

<div class="center jumbotron">
  <div class="container">
  <div class="text-center">
    <figure>
      <div class="main-image"></div>
    </figure>
  </div>
</div>
  <div class="text-center">
    <%= link_to '新規登録画面', new_user_registration_path, class: 'btn btn-lg btn-primary' %>
    <%= link_to 'ログイン画面', new_user_session_path, class: 'btn btn-lg btn-success' %>
  </div>
</div>

